
<div>
    <h2><span data-translate="meetApp.meetJudge.detail.title">Meet Judge</span> {{vm.meetJudge.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="meetApp.meetJudge.image">Image</span></dt>
        <dd>
            <div ng-if="vm.meetJudge.image">
                <a ng-click="vm.openFile(vm.meetJudge.imageContentType, vm.meetJudge.image)">
                    <img data-ng-src="{{'data:' + vm.meetJudge.imageContentType + ';base64,' + vm.meetJudge.image}}"
                         style="max-width: 100%;" alt="meetJudge image"/>
                </a>
                {{vm.meetJudge.imageContentType}}, {{vm.byteSize(vm.meetJudge.image)}}
            </div>
        </dd>
        <dt><span data-translate="meetApp.meetJudge.score">Score</span></dt>
        <dd>
            <span>{{vm.meetJudge.score}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="meet-judge-detail.edit({id:vm.meetJudge.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
