<div>
    <h2 data-translate="meetApp.meetJudge.home.title">Meet Judges</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="meet-judge.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="meetApp.meetJudge.home.createLabel">
                        Create new Meet Judge
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="global.field.id">ID</span></th>
                <th><span data-translate="meetApp.meetJudge.image">Image</span></th>
                <th><span data-translate="meetApp.meetJudge.score">Score</span></th>
                <th><span data-translate="meetApp.meetJudge.comment">Comment</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="meetJudge in vm.meetJudges track by meetJudge.id">
                <td><a ui-sref="meet-judge-detail({id:meetJudge.id})">{{meetJudge.id}}</a></td>
                <td>
                    <a ng-if="meetJudge.image" ng-click="vm.openFile(meetJudge.imageContentType, meetJudge.image)">
                        <img data-ng-src="{{'data:' + meetJudge.imageContentType + ';base64,' + meetJudge.image}}"
                             style="max-height: 60px;" alt="meetJudge image"/>
                    </a>
                </td>
                <td>{{meetJudge.score}}</td>
                <td>{{meetJudge.comment}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="meet-judge-detail({id:meetJudge.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="meet-judge.edit({id:meetJudge.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="meet-judge.delete({id:meetJudge.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
